.home .home-content h3 {
  color: var(--first-text-color);
  font-size: 32px;
  font-weight: 700px;
}

.home .home-content h3 span {
  color: var(--main-color)
}

.home .home-content h3:nth-of-type(2) {
  margin-bottom: 20px;
}

.home .home-content h1 {
  color: var(--first-text-color);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
}

.home .home-content p {
  color: var(--first-text-color);
  font-size: 16px;
}

section {
  min-height: 100hv;
  padding: 100px 9%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-img img,
.about-img img {
  width: 300px;
  border-radius: 20px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  font-size: 25px;
  color: var(--main-color);
  border-radius: 50%;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-background-color);
  box-shadow: 0 0 10px var(--main-color);
}

.btn {
  background-color: var(--main-color);
  display: inline-block;
  padding: 10px 28px;
  border-radius: 40px;
  box-shadow: 0 0 10px var(--main-color);
  font-size: 16px;
  color: var(--second-background-color);
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  box-shadow: none;
}


/* About */

section {
  color: var(--first-text-color);
}

h2 span {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--second-background-color);
}

.heading {
  text-align: center;
  font-size: 45px;
}

.about-content {
  text-align: left;
  line-height: 1.4;
}

.about-content h3 {
  font-size: 26px;
}

.about-content p {
  font-size: 16px;
  margin: 20px 0 30px;
}


/* Services */

.services h2 {
  margin-bottom: 50px;
}

.service-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-cont .services-box {
  flex: 1 1 300px;
  background-color: var(--second-background-color);
  padding: 30px 20px 40px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--background-color);
  transition: 0.5s ease;
}

.service-cont .services-box:hover {
  transform: scale(1.04);
  border-color: var(--main-color);
}

.services-box i {
  font-size: 70px;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 26px;
}

.services-box p {
  font-size: 16px;
  margin: 10px 0 30px;
}

/* portfolio */

.portfolio {
  background-color: var(--second-background-color);
}

.portfolio h2 {
  margin-bottom: 40px;
}

.portfolio-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 25px;
}

.portfolio-cont .portfolio-box {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--background-color);
  overflow: hidden;
  display: flex;
  height: 250px;
}

.portfolio-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}



.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  transform: translateY(110%);
  transition: 0.7s ease;
}


.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 30px;
}

.portfolio-layer p {
  font-size: 16px;
  margin: 3px 0 20px;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--first-text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 25px;
  padding: 20px 0;
  color: var(--second-background-color);
}

/* contact */

.contact h2 {
  margin-bottom: 30px;
}

.contact form {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 30px;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: var(--first-text-color);
  background: var(--second-background-color);
  border-radius: 8px;
  margin: 7px 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 20px;
  cursor: pointer;
}