.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 9%;
  background-color: var(--second-background-color);
}

.footer-text p {
  font-size: 14px;
}

.footer-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.5s ease;
}

.footer-icon a:hover {
  box-shadow: 0 0 10px var(--main-color);
}

.footer-icon a i {
  font-size: 25px;
  color: var(--second-background-color);
}