.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 20px 9%;
  z-index: 100;
  background-color: var(--background-color);
}

/* if you want to target the class that are being toggled to the same element,  then don't give space */
.header.sticky {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.logo {
  color: var(--first-text-color);
  cursor: default;
  font-size: 25px;
  font-weight: 600;
}

.navBar a {
  color: var(--first-text-color);
  font-size: 17px;
  margin-left: 40px;
  transition: 0.3s;
}

.navBar a:hover,
.navBar a.active {
  color: var(--main-color);
}

#menu-icon {
  color: var(--first-text-color);
  font-size: 36px;
  display: none;
}