@media (max-width:1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:991px) {
  .header {
    padding: 20px 3%;
  }

  section {
    padding: 100px 3% 20px;
  }


  .contact {
    min-height: auto;
  }

  .services {
    padding-bottom: 70px;
  }

  .portfolio {
    padding-bottom: 70px;
  }

  .footer {
    padding: 20px 3%;
  }
}


@media (max-width:768px) {
  #menu-icon {
    display: block;
  }

  .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 3%;
    background-color: var(--background-color);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;

  }

  .navBar.active {
    display: block;
  }

  .navBar a {
    display: block;
    padding: 10px 0%;
    margin: 15px 0%;
  }

  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 26px;
  }

  .home .home-content h1 {
    font-size: 36px;
  }

  .home .home-img img {
    width: 400px;

  }

  .about {
    flex-direction: column-reverse;
  }

  .about .about-img img {
    width: 400px;
  }

  .services h2 {
    margin-bottom: 30px;
  }

  .portfolio h2 {
    margin-bottom: 30px;
  }

  .portfolio-cont {
    grid-template-columns: repeat(2, 1fr);
  }

  /* to reverse the footer */
  .footer {
    flex-direction: column-reverse;
  }

  .footer-icon {
    margin-bottom: 20px;
  }
}

@media (max-width:617px) {
  .portfolio-cont {
    grid-template-columns: 1fr;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width:350px) {
  .home .home-img img {
    width: 90vw;
  }

  .about .about-img img {
    width: 90vw;
  }

  .footer p {
    text-align: center;
    margin-top: 20px;
  }
}