:root {
  --text-color: white;
  --secondText-color: rgba(5, 5, 5, 0.3);
  --main-color: rgb(1, 176, 245);
  --secondMain-color: rgb(247, 142, 5);
}

* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

body {
  padding-top: 100px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 40px;
  background-color: var(--main-color);
  z-index: 100;
}

header .authorDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorDetails h1 {
  color: var(--text-color);
}

.logo {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

a {
  color: black;
  text-decoration: none;
}

.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: var(--text-color);
  font-size: 20px;
  margin-right: 20px;
}

.navBar .fa-bars {
  color: var(--text-color);
  font-size: 28px;
}

.navBar {
  display: none;
}


/* Home */

.home {
  background-image: url('../img/background-IMG.jpg');
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.home h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.home button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: var(--secondMain-color);
  color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
}

/* travel detatils */

.travel-details {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.travel-details.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel-details .travel-cont {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--secondText-color);
  padding: 20px 15px;
  width: 400px;
  margin-top: 30px;
}

.travel-cont h3 {
  margin-bottom: 20px;
}

.travel-cont form label {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.travel-cont form select {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  font-weight: 600;
  border: none;
  box-shadow: inset 0 0 5px var(--secondText-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

.travel-cont form input {
  width: 95%;
  outline: none;
  padding: 8px 10px;
  font-weight: 600;
  border: none;
  box-shadow: inset 0 0 5px var(--secondText-color);
  border-radius: 4px;
  margin-bottom: 13px;
}

.button button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

/* footer */

footer {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 80px;
}

footer .footer {
  color: var(--text-color);
}