@media (max-width:1068px) {

  .nav-left {
    flex: 1;
  }

  nav {
    flex: 1;
  }

  .contact-main-cont {
    padding: 80px 50px;
  }

  .contact-form {
    padding: 80px 50px;
  }
}

@media (max-width:999px) {
  header {
    padding: 0 20px;
  }

  .nav-left {
    justify-content: initial;
  }

  .nav-left h3 {
    font-size: 25px;
  }

  ul li a {
    font-size: 23px;
  }
}

@media (max-width:855px) {

  nav {
    flex: .4;
    justify-content: end;
    margin-right: 20px;
  }

  nav .menu {
    display: block;
    font-size: 25px;
    color: var(--text-color);
  }

  .nav-list {
    position: absolute;
    top: 64px;
    right: -40px;
    background-color: var(--main-color);
    width: 0;
    overflow: hidden;
    z-index: 60px;
    transition: width 0.5s ease-in-out;
  }

  .nav-list.active {
    width: 150px;
    overflow: hidden;
  }

  ul li a {
    font-size: 20px;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  .nav-list ul li {
    padding: 20px;
    margin-left: 0;
    cursor: pointer;
    transition: background-color 0.24s ease-in;
  }

  .nav-list ul li:hover {
    background-color: var(--text-main-color);
  }


  .contact-cont {
    flex-direction: column;
  }

  .contact-img {
    width: 100%;
    height: 400px;
    margin-left: 0px;
    margin-top: 40px;
  }

  .contact-form {
    flex-direction: column;
  }

  .social-handle {
    margin-left: 0px;
    margin-top: 40px;
  }

  .form-cont {
    margin-right: 0px;
  }
}

@media (max-width:650px) {
  .logo {
    width: 50px;
    height: 40px;
  }

  .nav-left h3 {
    font-size: 22px;
  }

  .contact-img {
    height: 300px;
  }

  .contact-main-cont {
    padding: 50px;
  }

  .contact-form {
    padding: 50px;
  }
}


@media (max-width:560px) {
  header {
    height: 80px;
  }

  .nav-list {
    top: 54px;
  }

  .footer {
    height: 60px;
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .nav-list {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out;
  }

  .nav-list.active {
    height: 60px;
    width: 100%;
    overflow: hidden;
  }


  .nav-list ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;

  }

  ul li {
    margin-left: 0px;
    margin-right: -20px;
  }

  ul li a {
    font-size: 18px;
  }

  .contact-img {
    height: 200px;
  }


  .contact-details p {
    font-size: 16px;
  }

  .contact-details h4 {
    font-size: 14px;
  }

  .social-handle {
    padding: 10px;
  }

  .form-cont {
    padding: 15px;
  }

  .social-log a i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 15px;
  }

  .social-log p {
    font-size: 14px;
  }

  .social-log p span {
    font-weight: 600;
    font-size: 14px;
  }
}



@media (max-width: 400px) {
  body {
    padding-top: 69px;
  }

  header {
    height: 70px;
    padding: 0 15px;
  }

  nav {
    margin-right: 0px;
  }

  .nav-list {
    top: 68px;
  }

  .nav-left h3 {
    font-size: 18px;
  }

  .contact-main-cont {
    padding: 30px;
  }

  .contact-form {
    padding: 30px;
  }

  .footer {
    font-size: 14px;
  }
}

@media (max-width:330px) {

  .footer {
    font-size: 13px;
  }
}