@media (max-width:1230px) {
  .about h1 {
    font-size: 45px;
    line-height: 45px;
  }
}

@media (max-width:1038px) {

  .nav-left {
    flex: 1;
  }

  nav {
    flex: 1;
  }

  .about h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}

@media (max-width:999px) {
  header {
    padding: 0 20px;
  }

  .nav-left {
    justify-content: initial;
  }

  .nav-left h3 {
    font-size: 25px;
  }

  ul li a {
    font-size: 23px;
  }

  .company-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
  }

  .about {
    flex: 1;
    margin-bottom: 30px;
  }

  .about2-img {
    margin-left: 0px;
    width: 100%;
    height: 400px;
  }

  /* 
  .toolsSwipe img {
    transform: scale(0.7);
  } */
}

@media (max-width:855px) {

  nav {
    flex: .4;
    justify-content: end;
    margin-right: 20px;
  }

  nav .menu {
    display: block;
    font-size: 25px;
    color: var(--text-color);
  }

  .nav-list {
    position: absolute;
    top: 64px;
    right: -40px;
    background-color: var(--main-color);
    width: 0;
    overflow: hidden;
    z-index: 60px;
    transition: width 0.5s ease-in-out;
  }

  .nav-list.active {
    width: 150px;
    overflow: hidden;
  }

  ul li a {
    font-size: 20px;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .nav-list ul li {
    padding: 20px;
    margin-left: 0;
    cursor: pointer;
    transition: background-color 0.24s ease-in;
  }

  .nav-list ul li:hover {
    background-color: var(--text-main-color);
  }

  .about-details {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  /* 
  .toolsSwipe {
    height: 200px;

  } */


}

@media (max-width:650px) {
  .logo {
    width: 50px;
    height: 40px;
  }

  .nav-left h3 {
    font-size: 22px;
  }

  .about2-img {
    height: 300px;
  }


}


@media (max-width:560px) {
  header {
    height: 80px;
  }

  .nav-list {
    top: 54px;
  }

  .about h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .about p {
    font-size: 16px;
  }

  .about2-img {
    height: 250px;
  }

  .footer {
    height: 60px;
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .nav-list {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out;
  }

  .nav-list.active {
    height: 60px;
    width: 100%;
    overflow: hidden;
  }


  .nav-list ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;

  }

  ul li {
    margin-left: 0px;
    margin-right: -20px;
  }

  ul li a {
    font-size: 18px;
  }

  .about h1 {
    font-size: 25px;
    line-height: 30px;
  }


  .about p {
    font-size: 14px;
  }

  .about2-img {
    height: 200px;
  }

  .toolsSwipe img {
    transform: scale(0.8);
  }
}



@media (max-width: 400px) {
  body {
    padding-top: 69px;
  }

  header {
    height: 70px;
    padding: 0 15px;
  }

  .nav-list {
    top: 68px;
  }

  .nav-left h3 {
    font-size: 18px;
  }


  nav {
    margin-right: 0px;
  }

  .footer {
    font-size: 14px;
  }
}

@media (max-width:330px) {

  .footer {
    font-size: 13px;
  }
}