:root {
  --text-color: white;
  --second-background-color: rgba(241, 232, 232, 0.5);
  --main-color: rgb(26, 129, 247);
  --background-color: white;
}

* {
  font-family: arial;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin-top: 101px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid var(--second-background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--background-color);
}

.cartCount {
  vertical-align: middle;
  font-weight: bold;
  margin-left: -10px;
}

.navHeader-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart a {
  vertical-align: middle;
}

.navHeader-cont a {

  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.rightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  width: 230px;
}

.shop-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.smartShop {

  margin-left: 20px;
  font-size: 30px;
}

.shop-details .fa-bars {
  font-size: 30px;
  margin-left: 20px;
  display: none;
}

.logo {
  background-color: var(--main-color);
  padding: 12px 32px 18px 32px;
  border-radius: 10px;
  font-size: 20px;

}

.rightSide a {
  font-size: 30px;
}

/* main */


.homePage-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-background-color);
  padding: 40px 20px;
}

.img-cont {
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  object-fit: cover;
  object-position: center;
}

.homePage {
  flex: 1;
}

.homePage h1 {
  font-size: 40px;
  /* width: 600px; */
  letter-spacing: 1px;
}

.homePage p {
  font-size: 18px;
  letter-spacing: 1px;
}

.homePage button {
  background-color: var(--main-color);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.homePage a {
  display: inline-block;
  margin-top: 20px;
}

/* product */

.product {
  margin: 20px 10px;
}

.product h2 {
  margin-top: 50px;
  font-size: 29px;
  margin-bottom: 50px;
}

.display-product {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}


.product-cont {
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.product-cont .img-cont1 {
  height: 350px;
}

.img-cont1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0px 0px;
}


.product-details {
  text-align: center;
  margin: 15px 0px;
}

.product-details h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: var(--main-color);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: var(--text-color);
  margin-bottom: 5px;
  cursor: pointer;
}

/* review */

.review-display {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  flex-shrink: 0;
}

.img-cont-review {
  height: 200px;
  width: 200px;
}

.img-cont-review img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review-display .review-cont {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.review {
  margin: 20px 10px;
}

.review h2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.review-details {
  margin-top: 20px;
  text-align: center;
}

.review-details p {
  font-size: 18px;
  margin-bottom: 20px;
  width: 320px;
}

.review-details h3 {
  margin-bottom: 10px;
}


/* contact */

.contact {
  background-color: var(--second-background-color);
  height: 250px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-top: 50px;
}

.contact-details h2 {
  margin: 30px 0px;
}

.contact-details p {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-email {
  padding: 8px 15px 8px;
  width: 300px;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.notMatch {
  border: 1px solid red;
}

.match {
  border: 1px solid green;
}

.contact #subscribe {
  padding: 15px 25px;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

/* footer */

footer {
  height: 80px;
  width: 100%;
  background-color: black;
  text-align: center;
  padding-top: 40px;
}

.footer-link a {
  color: blueviolet;
  text-decoration: underline;
  padding-right: 10px;
}

.footer-link a i {
  color: aqua;
  padding-left: 10px;
}

.footer-link span {
  color: var(--text-color);
}

.footer-copy {
  margin-bottom: 20px;
}

.footer-copy h4 {
  color: var(--text-color);
}