:root {
  --text-color: white;
  --text-main-color: rgb(0, 0, 0);
  --verify-color: rgb(13, 221, 13);
  --not-verify-color: red;
  --login-color: rgb(6, 204, 128);
  --btn-color: rgb(9, 81, 214);
  --main-color: rgb(73, 73, 73);
  --back-color: rgb(241, 241, 241);
}


* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  text-decoration: none;
  color: var(--text-main-color)
}

ul li {
  list-style-type: none;
}


body {
  padding-top: 80px;
}