header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: 100;
  padding: 0 20px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  width: 60px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
}

.nav-left h3 {
  text-transform: capitalize;
  font-size: 28px;
  margin-left: 15px;
  color: var(--text-color);
  letter-spacing: 1px;
}

nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .menu {
  display: none;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  margin-left: 30px;
}

ul li a {
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 25px;
}

ul .btn {
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

ul li a.active {
  color: var(--btn-color);
}

.right-nav {
  display: flex;
  justify-content: space;
  align-items: center;
  flex: 0.3;
  margin-left: 30px;
}

.profile-img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img a {
  width: 100%;
  height: 100%;
}

.profile-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transform: scale(1.4);
  transform-origin: 15px 10px;
}

.right-nav button {
  color: var(--text-color);
  background-color: var(--btn-color);
  padding: 8px 14px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}