.main-cont-img {
  width: 100%;
  height: 100%;
}


.main-cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(1.2);
}

.prison {
  width: 100%;
  height: 900px;
  position: relative;
}


.login-cont {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  display: none;
}

.login-cont.active {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: var(--text-color);
  text-align: center;
  width: 300px;
  padding: 20px 0px;
  border: none;
  box-shadow: 0px 0px 20px rgba(78, 1, 1, 0.9);
  border-radius: 10px;
}



.login h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form input {
  font-size: 18px;
  padding: 8px 10px;
  font-weight: 600;
  margin-bottom: 15px;
  border: none;
  outline: none;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.login a {
  color: var(--btn-color);
  letter-spacing: 1px;
}

.login button {
  padding: 8px 20px;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: box-shadow 0.5s;
}

.login button:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* Home page */

.home {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 75px;
  letter-spacing: 1px;
  margin: 0 40px 15px 40px;
  text-shadow: 2px 2px 4px var(--text-color);
}

.home p {
  color: var(--text-main-color);
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.home.loginBtn {
  display: none;
}

.home .login-btn {
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
}

.home .signup-btn {
  color: var(--btn-color);
  border-color: var(--btn-color);
  border: 1px solid;
  background-color: var(--text-color);
  padding: 8px 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.home .btn-cont {
  margin-bottom: 30px;
}


/* sign up */


.signup-cont {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  display: none;
}

.signup-cont.active {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  background-color: var(--text-color);
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding-bottom: 25px;
}

.signup h2 {
  font-size: 30px;
}

.signup .h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.signup .input1 {
  display: block;
  padding: 10px 0px;
  padding-left: 15px;
  width: 96%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.signup button {
  display: block;
}

.signup label {
  font-size: 18px;
}

.signup .lb1 {
  margin-bottom: 10px;
  display: block;
}

.signup select {
  outline: none;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

.signup .line-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.signup .line-cont div {
  height: 1px;
  flex: .3;
  background-color: gray;
}

.signup .line-cont h2 {
  flex: 1;
  margin-right: -50px;
}

.btn-submit,
.login-lnk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-submit button {
  color: var(--text-color);
  background-color: var(--btn-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}