.contact-main-cont {
  padding: 80px;
}

.contact-cont {
  display: flex;
  /* height: 400px; */
}

.contact-details {
  flex: 1;
}

.contact-details h1 {
  text-transform: capitalize;
  font-size: 38px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.contact-details p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact-details h3 {
  text-transform: capitalize;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.contact-details h4 {
  font-style: italic;
  color: var(--not-verify-color);
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.contact-details button {
  color: var(--text-color);
  background-color: var(--login-color);
  padding: 9px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.contact-details h4 span {
  font-weight: 600;
  color: var(--text-main-color);
  font-size: 19px;
  letter-spacing: 1.5px;
  font-style: normal;
}

.contact-img {
  height: 300px;
  width: 400px;
  margin-left: 60px;
  overflow: hidden;
}

.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.contact-img img:hover {
  transform: scale(1.2);
}

/* form */
.contact-form {
  display: flex;
  padding: 80px;
  /* // align-items: center; */
  background-color: var(--back-color);
}

.form-cont {
  flex: 1;
  margin-right: 30px;
  padding: 40px;
  border: none;
  background-color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.form-cont form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-cont form input {
  border: 1px solid var(--back-color);
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 15px;
  text-transform: capitalize;
  width: 95%;
  outline: none;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.form-cont form textarea {
  border: 1px solid var(--back-color);
  width: 95%;
  height: 150px;
  font-size: 18px;
  resize: none;
  outline: none;
  margin-bottom: 30px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}


.form-cont form button {
  padding: 8px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--login-color);
  transition: box-shadow 0.5s ease-in;
}


.form-cont form button:hover {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}





.social-handle {
  flex: 1;
  margin-left: 30px;
  padding: 30px;
  border: none;
  background-color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


.social-log {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social-log a i {
  width: 50px;
  height: 50px;
  border: 1px solid var(--login-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-right: 20px;
  border-radius: 40px;
  transition: all 0.2s ease-in;
}


.social-log a i:hover {
  background-color: var(--login-color);
  color: var(--text-color);
}


.social-log p {
  font-size: 18px;
  letter-spacing: 1px;
}


.social-log p span {
  text-transform: capitalize;
  font-weight: 600;
}