header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  background-color: white;
  z-index: 100;
  padding: 0px 30px;
}

header .right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  flex-shrink: 0;
  list-style-type: none;
}


header div ul {
  font-size: 17px;
  font-weight: 500;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.fa-bars {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.right ul li a {
  color: black;
  text-decoration: none;
}