.bounceInfinite {
  /* font-size: 30px; */
  animation-name: bunceIn;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes bunceIn {
  0% {
    transform: translateY(0px);

  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0px);

  }
}


.bounceOnce {
  /* font-size: 30px; */
  animation-name: bunceOnce;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes bunceOnce {
  0% {
    transform: translateY(0px);
  }

  /* 20% {
    transform: translateY(40px);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(30px);
  }

  80% {
    transform: translateY(20px);
  } */

  100% {
    transform: translateY(40px);
  }
}


.bounceFromLeft {
  /* font-size: 30px; */
  animation-name: fromLeft;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;

}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
  }

  /* 20% {
    transform: translateY(40px);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(30px);
  }

  80% {
    transform: translateY(20px);
  } */

  100% {
    transform: translateX(0px);
  }
}